*{
    margin: 0px;
    padding: 0px;
}

body, input, button{
    font-family: arial,sans-serif;
}

#nav-container{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(4, min-content) ;
    grid-template-rows: 1fr;

    justify-content: end;
    align-items: center;

}

.nav__button{
    
    /* width: 100px; */
    background-color: #fff;
    outline: none;
    border: none;
    margin: 0px .5vw;
    cursor: pointer;
}

.nav__button:last-child{
    margin-right: 1vw;
}

.nav__roundButton{
    margin-left: 1vw;
    border-radius: 50%;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__roundButton:hover{
    background-color: #eee;
    box-shadow: 0px 0px 0px 3px #eee;

}
.nav__roundButton img{
    border-radius: 50%;
    width: 2.5vw;
    
}

.nav__button:hover{
    text-decoration: underline;
}

.nav__svg{
    width: 1.8vw;
    height: 1.8vw;
    fill: #555;
}

/* ----------------------------------------------------------------------- */

#googleApps-container{
    z-index: 100;
    position: absolute;
    width: calc(23vw - 2vw);
    height: calc(65vh - 2vw);
    margin: 10vh 1vw;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px #222;
    overflow-y: scroll;
    padding: 1vw 1.2vw;

}

#googleApps-container::-webkit-scrollbar{
    width: 1.2vw;
}

#googleApps-container::-webkit-scrollbar-track {
    background: none;
    border: none;
}

#googleApps-container::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 4px solid transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 50px;
}


#googleApps-container::-webkit-scrollbar-thumb:hover {
    background-color: #ccc; 
}

#googleApps-ul{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-auto-rows: min-content;
    justify-content: center;
    row-gap: .5vw;
    column-gap: .5vw;


}

#googleApps-container li{
    list-style-type: none;

    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
#googleApps-container li:hover{
    background-color: #e8e8e8;
}
#googleApps-container img{
    border-radius: 50%;
    width: 3.5vw;
    height: auto;
    margin: 0px 1.5vw;
    margin-top: .5vw;
    margin-bottom: .5vw;
}
#googleApps-container p{
    margin-bottom: .2vw;
}


#googleApps__more{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2.5vw;

    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: transparent;
    padding: 1vw 1.5vw;
    cursor: pointer;
    
    color: #2962ff;
}

#googleApps__more:hover{
    background-color: #eee;
}

/* ------------------------------------------------------------------------ */


#main-container{
    display: flex;
    height: 76vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#title{
    margin-top: 1vh;
    margin-bottom: 4vh;
    width: 20vw;
}

#input-container{
    width: 43vw;
    height: 3.5vw;
    background: transparent;
    position: relative;

    display: flex;
    justify-content: center;
}

#input{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;

    padding-left: 3.5vw;
    padding-right: 3.5vw;
    font-size: 1.2vw;

}

#input:focus, #input:hover{
    box-shadow: 0px 1px 5px 1px #ccc;
}

#input__leftIconContainer, #input__rightIconContainer{

    position: absolute;
    left: 0;
    height: 100%;
    width: 3vw;

    display: flex;
    align-items: center;
}

#input__rightIconContainer{
    left: auto;
    right: 0;
}


#input__left-icon{
    margin-left: auto;
    width: 1.5vw;
    filter: invert(69%) sepia(20%) saturate(0%) hue-rotate(209deg) brightness(96%) contrast(85%);
}

#input__right-icon{
    width: 1.8vw;
    margin-right: auto;
    filter: invert(53%) sepia(0%) saturate(29%) hue-rotate(151deg) brightness(88%) contrast(86%);
    cursor: pointer;
}

#section__buttonContainer{
    width: 100%;
    margin: 2vw 0px;
    display: grid;

    grid-template-columns: max-content max-content;
    grid-template-rows: 2.5vw;

    justify-content: center;
    column-gap: 1vw;
    row-gap: 2vw;
}

.section__button{

    background-color: #f8f9fa;
    outline: none;
    border: 1px solid transparent;

    color: #444;
    padding: 0 1vw;
    font-size: 1vw;
    border-radius: 4px;
    cursor: pointer;
}

.section__button:hover{
    color: #000;
    border: 1px solid #dadce0;
    box-shadow: 0px 1px 1px #ddd;
}

#section__bottomText{
    grid-column: 1/ 3;
    color: #444;
    font-size: 1vw;
    text-align: center;

}

#section__bottomText a{
    margin: 0px 0.3vw;
    text-decoration: none;
    cursor: pointer;
}
#section__bottomText a:hover{
    text-decoration: underline;

}

/* ------------------------------------------------ */


#footer-container{
    width: 100vw;
    height: 14vh;
    display: flex;
    flex-direction: column;

    background-color: #f8f9fa;
    color: rgba(0,0,0,.54);
}

#footer__topSection{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    border-bottom: 1px solid #dadce0;
}
#footer__topSection p{
    font-size: 1.1vw;
    margin-left: 2.5vw;
}

#footer__botSection{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__button-container{

    padding: 0 3vw;
}


.footer__button{
    font-size: 1.1vw;
    margin-right: 2vw;
    background: none;
    border: none;
    outline: none;
    color: rgba(0,0,0,.54);
    cursor: pointer;
}

.footer__button:last-child{
    margin-right: 0;
}

.footer__button:hover{
    text-decoration: underline;
}